
.pull-left {
  float: left;
  padding-left: 4%;
  width: 40%;
}

.pull-right {
  float: right;
  padding-right: 4%;
  width: 40%;
}

.pull-left-wide {
  float: left;
  padding-left: 0%;
  width: 50%;
}

.pull-right-wide {
  float: right;
  padding-right: 0%;
  width: 50%;
}

.pull-left-short {
  float: left;
  padding-left: 0%;
  width: 37%;
}

.pull-right-long {
  float: right;
  padding-right: 4%;
  width: 55%;
}

.timeline-position {
  
  padding-left : 11.5%;
  padding-right: 0.5%;
}